<h2>Can you spare a word?</h2>

<p>If so, add it here</p>

<form action="/words" method="post">
  <label for="word">Bird's the word:</label>
  <input id="word" name="word" type="text">
  <button type="submit">Add The Word!</button>
</form>
