<h2>All Them Words</h2>

<ul>
  <% @words.each() do |word| %>
    <li><a href='/words/<%= word.id() %>'><%= word.word_entry() %></a></li>
  <% end %>
</ul>

<a href="/words/new">Add Even More Words!</a>
<a href="/">Return to the Beginning!</a>
